.header
{
    width: 100%;
    height: 90px;
    border-bottom: 1px solid black;
}
.logo
{
    width: 70px;
    height:70px;
    float: left;
    margin: 10px;
}
.title
{
    float: left;
    margin-top: 28px;
    margin-left: 10px;
}
.navbar
{
    float: right;
    margin-top: 28px;
    margin-left: 10px;
}
.navbar a
{
    text-decoration: none;
    margin-left: 25px;
}
.register-box
{
    width:350px;
    margin:40px auto;
    border:1px solid black;
    padding:15px;
    text-align:center;
}
.gender
{
    display:flex;
    justify-content:center;
    gap:20px;
    align-items:center;
    margin:10px 0;
}
.register-box input [type=text],
.register-box input [type=email],
.register-box input [type=password]
{
    width:270px;
    height:35px;
    text-align:center;
}
.register-box input [type=radio]
{
    width:10px;
    height:10px;
}
.select-box
{
    width:270px;
    height:35px;
    text-align:center;
    margin-top:5px;
}
.register-box button
{
    width:100px;
    height:35px;
}
.help
{
    clear:both;
    text-align:right;
    margin-right:40px;
    margin-top:20px;
}
.footer
{
    text-align:center;
    padding:15px;
}